In [24]:
import matplotlib.pyplot as plt
import pandas as pd
from config import *
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session


engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql-challenge')
connection = engine.connect()

# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [25]:
inspector.get_table_names()

['dept_managers',
 'titles',
 'employees',
 'departments',
 'dept_emp_junction',
 'salaries']

In [26]:
data = engine.execute("SELECT * FROM Titles")

for record in data:
    print(record)

('s0001', 'Staff')
('s0002', 'Senior Staff')
('e0001', 'Assistant Engineer')
('e0002', 'Engineer')
('e0003', 'Senior Engineer')
('e0004', 'Technique Leader')
('m0001', 'Manager')

In [27]:
column_titles = inspector.get_columns("titles")
for col in column_titles:
    print(col["name"],  col["type"])

title_no VARCHAR(127)
title VARCHAR(127)

In [28]:
column_titles = inspector.get_columns("salaries")
for col in column_titles:
    print(col["name"],  col["type"])

emp_no INTEGER
salary INTEGER

In [29]:
column_employees = inspector.get_columns("employees")
for col in column_employees:
    print(col["name"],  col["type"])

emp_no INTEGER
emp_title VARCHAR(127)
birth_date DATE
first_name VARCHAR(127)
last_name VARCHAR(127)
sex VARCHAR(127)
hire_date DATE

In [30]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['departments', 'employees', 'titles', 'salaries']

In [31]:
Titles = Base.classes.titles
Salaries = Base.classes.salaries
Employees = Base.classes.employees
Departments = Base.classes.departments

session = Session(engine)

In [32]:
titles = session.query(Titles.title_no, Titles.title).all()
salaries = session.query(Salaries.emp_no, Salaries.salary).all()
employees = session.query(Employees.emp_no, Employees.emp_title).all()

In [35]:
salaries_df = pd.Dataframe(salaries, columns=["Employee ID", "Salary"])

# I give up
# I'm getting a the error: 
#  module 'pandas' has no attribute 'Dataframe'

AttributeError: module 'pandas' has no attribute 'Dataframe'